/* ====================================================================
 * Pens
 * ==================================================================== */

.Pens {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--gutter);
}

@media (min-width: 480px) {
  .Pens {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (min-width: 768px) {
  .Pens {
    grid-template-columns: repeat(3, 3fr);
  }
}
