:root {
  --white: #fff;
  --dark: #201f1f;
  --light: #292828;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Editor {
  display: flex;
}

.Editor textarea {
  flex: 1;
  height: 50vh;
  background-color: var(--dark);
  border: 1px solid var(--light);
  resize: none;
  outline: none;
  padding: 1.4rem 1.8rem;
  color: var(--white);
}

.Preview {
  width: 100%;
  height: 50vh;
  border: none;
}
